<form>
    <div class="jumbotron">
        <div class="form-horizontal">
            <div class="col-xs-12">
                <h2 align=center>Component3</h2>
            </div>
        </div>

    </div>
</form>