<form>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Login Form -->
            <br>
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" routerLink="../component2">Do you want to Register?</a>
            </div>

        </div>
    </div>
</form>