<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #204cad; border-radius: 3%;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link"><img src="../../assets/img/s5_logo.png" alt="logo" width="250" height="60"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white; border-radius: 5%;" routerLink="./component1"><b>Mario Alonso and Steven Sánchez</b></a>
                <a class="nav-link" style="color: white; border-radius: 5%;"><b>DAWBIO 2</b></a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>

</div>